/* Container styles */
.it-card {
    max-width: 50%;
    max-height: 19000px;
    border: 2px solid black;
    border-radius: 10px; /* Add rounded corners for a softer look */
    padding: 20px; /* Add padding to create space between content and border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }
  
  /* Title styles */
  .it-card h3 {
    font-size: 24px;
    margin: 0; /* Reset margin to remove any default spacing */
    padding-bottom: 10px; /* Add spacing between title and image */
    margin-right: 70rem;
    margin-bottom: 20px;
  }
  
  /* Image styles */
  .it-card img {
    display: block; /* Ensure the image behaves as a block element */
    width: 50%; /* Make the image fill the container width */
    height: 400px; /* Maintain the aspect ratio of the image */
    border-radius: 5px; /* Add rounded corners to the image */
    margin-bottom: 10px; /* Add spacing between image and description */
  }
  
  /* Description styles */
  .it-card p {
    font-size: 16px;
    line-height: 1.7; /* Increase line height for better readability */
    margin: 0; /* Reset margin to remove any default spacing */
  }
  
  .app{
    margin-top: 80px;
  }
  